.parentSize {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
}

.parent {
    margin-top: 70px;
    padding-top: 20px;
    height: 540px;
    width: 350px;
    background-color: #eee;
    -webkit-box-shadow: 4px 4px 4px 4px rgba(60, 60, 60, 0.6);
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    box-shadow: 5px white;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #eee;
}

label {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgba(73, 73, 73, 0.76);
}

.submit {
    background-color: #3498db;
    color: white;
    font-size: medium;
    border: none;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-left: 22px;
    text-align: center;
}

#div1 #div2 #div3 #div4 {
    color: red;
    text-align: left;
}